@font-face {
    font-family: 'BeautL';
    src: url('./assests/fonts/68bf2d317447613b7363d623_BeautiqueDisplay-Light.otf');
}
@font-face {
    font-family: 'BeautM';
    src: url('./assests/fonts/68bf2d3a549c0f3150c48f6a_BeautiqueDisplay-Medium.otf');
}
@font-face {
    font-family: 'neutral';
    src: url('./assests/fonts/68bf26087df8b22fd8bdc194_NeutralSans-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #faf6f6;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 40px;
}
nav .logo a{
    font-size: 1.8vw;
    font-weight: 400;
    font-family: 'BeautL';
    text-decoration: none;
    cursor: pointer;
    color: #faf6f6;

}
nav .center{
    width: 400px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #faf6f648;
    display: flex;
}
nav .link{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .link a{
    color: #faf6f6;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav .link:hover{
    border: 1px solid #faf6f670;
    border-radius: 50px;
}
/* nav .link:nth-child(4){
    background-color: #1e1980;
    border: 1px solid #faf6f670;
    border-radius: 50px;
    box-shadow: inset 0px 0px 20px #faf6f659;

} */
nav .link:hover{
    border: 1px solid #faf6f670;
    border-radius: 50px;
    box-shadow: inset 0px 0px 10px #faf6f6be;
    
}
main{
    width: 100%;
    height: 100%;
}
#hero-section{
    width: 100%;
    height: 100vh;
    background-color: #1e1980;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#hero-section .top{
    position: absolute;
    top:20%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hero-section .top p{
    font-family: 'neutral';
    font-size: 20px;
}
#hero-section img{
    position: absolute;
    z-index:2;
    mix-blend-mode: luminosity;
    scale: 0.9
}
.circle{
    position: absolute;
    z-index:1;
    width: 30vw;
    height: 30vw;
    background-color: #72707098;
    border-radius: 50%;
    filter: blur(70px);
}

h1{
    position: absolute;
    z-index:3;
    font-size: 15vw;
    font-weight: 400;
    font-family: 'BeautL';
}

#section-2{
    width: 100%;
    height: 100vh;
    background:#dfdfdf;
    display:flex;
    justify-content: center;
    align-items: center;
}
#section-2 h2{
    font-family: 'neutral';
    font-size: 4vw;
    font-weight: 500;
    text-align: center;
    padding: 0px 1%;
    color: #000;
}


#section-3{
    width: 100%;
    background-color: #000;
    padding: 8% 0px;
    font-family: 'neutral';
    overflow: hidden;
}
#section-3 .top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 5%;
}
#section-3 .top h4{
    font-size: 26px;
    font-weight: 500;
    mix-blend-mode: difference;
}
#section-3 .top h2{
    font-size: 3vw;
    font-weight: 500;
    mix-blend-mode: difference;
}
#section-3 .center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;

}
#section-3 .center img{
    width: 60vw;
    margin-right: 20px;
    cursor: pointer;
}
#section-3 .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px 5%;
    margin-top: 16px;
}
#section-3 .bottom p{
    font-size: 14px;
    font-weight: 400;
    mix-blend-mode: difference;
    max-width: 40%;
}
#section-4{
    min-width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden !important;
}
#section-4 .text{
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
#section-4 h2{
    font-family: 'neutral';
    color: #000;
    font-size: 14vw;
    font-weight: 500;
}
#section-5{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap:8%;
    overflow: hidden;
}
#section-5 div h2{
    font-size: 10vw;
    font-weight: 400;
    font-family: 'BeautM';
    mix-blend-mode: difference;
    text-align: center;
}
#section-6{
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10%;
}
#section-6 .cards{
    width:70%;
    height: 80vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
#section-6 .a{
    background-image: url('https://plus.unsplash.com/premium_photo-1708110921398-1fc68e98eacc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    
}
#section-6 .b{
    background-image: url('https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW9kZWx8ZW58MHwwfDB8fHww');
}
#section-6 .c{
    background-image: url('https://images.unsplash.com/photo-1615212049275-95561aebe1b4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fG1vZGVsfGVufDB8MHwwfHx8MA%3D%3D');
}
#section-6 .d{
    background-image: url('https://plus.unsplash.com/premium_photo-1707932500366-c0b1951ed1b8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#section-7{
    width: 100%;
    height: 60vh;
    background-color: rgb(79, 71, 214);
    background-image: linear-gradient(180deg, #4f47d6, #201919);
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-7 h3{
    font-family: 'neutral';
    font-size: 3vw;
    font-weight: 500;
    color: #fff;
}
#footer{
    width: 100%;
    background-color: #fff !important;
    text-align: center;
}
#footer h1{
    font-family: 'BeautL';
    padding: 20px 0px;
}